[submodule "project_make"]
	path = project_make
	url = git@github.com:BeentageBand/project_make
[submodule "support/template"]
	path = support/template
	url = git@github.com:BeentageBand/template
[submodule "support/ipc"]
	path = support/ipc
	url = git@github.com:BeentageBand/ipc
[submodule "support/application"]
	path = support/application
	url = git@github.com:BeentageBand/application
[submodule "support/dbg_log"]
	path = support/dbg_log
	url = git@github.com:BeentageBand/dbg_log
[submodule "support/state_machine"]
	path = support/state_machine
	url = git@github.com:BeentageBand/state_machine
