[submodule "snack_style_organics/support/pk_hamatora_sched"]
	path = snack_style_organics/support/pk_hamatora_sched
	url = https://github.com/BeentageBand/pk_hamatora_sched.git
[submodule "snack_style_organics/pk_project"]
	path = snack_style_organics/pk_project
	url = https://github.com/BeentageBand/pk_project.git
[submodule "project_make"]
	path = project_make
	url = https://github.com/BeentageBand/project_make
