# Compiled Object files

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries

# Executables

# Output Dir
*/out/*

# Eclipse Bullsh#t
.settings
.cproject
.project
out.txt

# Atmel Studio 7 >
*.componentinfo.xml
*.cppproj

